<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Listar Mascota</title>
  </head>
  <body>
    <table border="2">
      <thead>
        <tr>
          <td>ID</td>
          <td>Nombre</td>
          <td>Edad</td>
          <td>Apellido</td>
        </tr>
      </thead>
      <tbody>
        {% for mascota in object_list %}
        <tr>
          <td>{{mascota.id}}</td>
          <td>{{mascota.nombre}}</td>
          <td>{{mascota.edad}}</td>
          <td>{{mascota.persona}}</td>
        {% endfor %}
        </tr>
      </tbody>
    </table>

  </body>
</html>
